<!DOCTYPE html>
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Formatting</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
    <h1>Example of Formatting Tags</h1>
    <p><strong>subtext</strong></p>
    <p><b>subtext</b></p>
    <p><i>subtext</i></p>
    <p><em>subtext</em></p>
    <p><small>subtext</small></p>
    <p><mark>subtext</mark></p>
    <p><del>subtext</del></p>
    <p><ins>subtext</ins></p>
    <p>X<sub>subtext</sub></p>
</body>
</html>