<!DOCTYPE html>
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Links and Layout Customization</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
    <a href="https://myqu.qu.edu.sa/_IAM/login" class="custom-link link-1" target="_blank">Go to QU website</a>
    <a href="https://myqu.qu.edu.sa/_IAM/login" class="custom-link link-2">Go to QU website</a>
    <a href="https://myqu.qu.edu.sa/_IAM/login" class="custom-link link-3">Go to QU website</a>
</body>
</html>